.Navbar {
  width: 100%;
  position: fixed;
  height: fit-content;
  box-shadow: 0 0 28px 2px #4c505434;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  z-index: 8;
}
.logo {
  flex-grow: 1;
  justify-self: center;
  text-align: justify;
  margin: 0 1rem;
  margin-top: 0.3rem;
  color: #fb872b;
}
.Navbar ul {
  list-style: none;
  display: flex;
  background-color: #fb892b4f;
  padding: 0.3rem 1rem;
  border-radius: 10rem;
}
.Navbar ul li {
  margin: 0 0.5rem;
}
.cartIcon {
  width: 22px;
}
.cartItemCount {
  background-color: #fb892bc7;
  color: #47350e;
  font-weight: 600;
  padding: 0 0.6rem;
  border-radius: 10rem;
}
